@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes enterFromLeft {
	0% {
		transform: translateX(-80px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes enterFromRight {
	0% {
		transform: translateX(80px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

body {
	background-color: rgba(47, 47, 53, 1.0);
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}

[page="newtab"] div {
	margin-top: 0px;
	margin-bottom: 0px;
}

[contenteditable="true"] {
	position: relative;
	padding: 5px 10px;
	outline: none;
}
[contenteditable="true"][placeholder]:empty::after {
	content: attr(placeholder);
	color: rgb(127, 127, 127);
}

[prefix]::before {
	content: attr(prefix);
	margin-right: 5px;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: black;
	color: white;
}

.themePanel {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
}
.themePanel > .inner {
	padding-top: 5px;
	transform: translateY(-100%);
	transition: transform cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .themePanel > .inner {
	transform: translateY(0%);
}
.themePanel:hover > .inner {
	transform: translateY(0%);
}
.themePanel > .inner > img {
	display: inline-block;
	width: 30px;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.panel_frame, .panel_container {
	margin-top: 0px;
	margin-bottom: 0px;
}
.panel_frame {
	position: relative;
}
.panel_container {
	background-color: var(--back-color);
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.panel_frame .panel_logo .panel_model_chooser {
	backdrop-filter: blur(2px);
}
.panel_tab > img {
	height: 18px;
}
.panel_container .panel_logo .thinking_hint.show {
	display: block;
}
.panel_container .panel_tabs_area .panel_input {
	font-size: 13px;
}
.panel_container .panel_inner_mask {
	display: none;
	position: absolute;
	z-index: 2;
	top: -35px;
	bottom: 0px;
	left: -15px;
	right: 0px;
}
.panel_container[showMask] .panel_inner_mask {
	display: block;
}
.panel_button.active {
	display: inline-block;
}
.panel_button img {
	height: 18px;
	margin: 3px 0px;
	pointer-events: none;
}
.panel_operation_area {
	display: none;
	position: absolute;
	top: 50px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}
.panel_operation_area.active {
	display: block;
}
.panel_operation_area .content_container {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.panel_operation_area .input_container {
	left: 0px;
	right: 100px;
	bottom: 0px;
	min-height: 50px;
	max-height: 400px;
	padding: 5px 10px;
	color: var(--back-color);
}
.panel_operation_area .input_container[contentEditable="false"] {
	color: rgb(157, 157, 157) !important;
	user-select: none;
}
.panel_operation_area .input_sender {
	left: auto;
	right: 0px;
	bottom: 0px;
	width: 100px;
	height: 50px;
}
.panel_operation_area .input_sender span {
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	line-height: 1em;
	pointer-events: none;
}
.panel_operation_area .content_container .chat_item {
	position: relative;
	padding: 5px 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 8px;
	border: 1px solid rgba(23, 23, 23, 1.0);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.panel_operation_area .content_container .chat_item:last-child {
	margin-bottom: 0px;
}
.panel_operation_area .content_container .chat_item.human {
	margin-left: 50px;
	background-color: rgba(37, 61, 36, 1.0);
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.panel_operation_area .content_container .chat_item.ai {
	margin-right: 50px;
	background-color: var(--background-color);
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"][theme="dark"] .panel_operation_area .content_container .chat_item.ai {
	background-color: var(--back-color);
}
.panel_operation_area .content_container .chat_item.other {
	padding: 5px 0px;
	margin-bottom: 5px;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	user-select: none;
}
.panel_operation_area .content_container .chat_item.information {
	cursor: pointer;
}
.panel_operation_area .content_container .chat_item.other * {
	pointer-events: none;
}
.panel_operation_area .content_container .chat_item .chat_title {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 5px;
	font-weight: bolder;
}
.panel_operation_area .content_container .chat_item.information .chat_title {
	color: var(--front-color) !important;
	cursor: pointer;
}
.panel_operation_area .content_container .chat_item.process .chat_title {
	color: rgb(125, 125, 125) !important;
	font-weight: lighter;
}
.panel_operation_area .content_container .chat_item.process .chat_title .caption {
	margin-left: 15px;
}
.panel_operation_area .content_container .chat_item.process .chat_title img {
	margin-left: 0px;
}
.panel_operation_area .content_container .chat_item.process .chat_title img.rotate {
	animation: rotate 1.5s cubic-bezier(0.5, 0.1, 0.3, 1) infinite;
}
.panel_operation_area .content_container .chat_item.process .chat_title img.done {
	filter: invert(0.6) sepia(1.0) hue-rotate(120deg) brightness(1.0);
}
.panel_operation_area .content_container .chat_item .chat_content {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 8px;
	color: var(--front-color) !important;
}
.panel_operation_area .content_container .chat_item .chat_content div,
.panel_operation_area .content_container .chat_item .chat_content p {
	margin-top: 5px;
	margin-bottom: 5px;
}
.panel_operation_area .content_container .chat_item .chat_content img {
	max-width: 100%;
}
.panel_operation_area .content_container .chat_item .operator_bar {
	position: absolute;
	display: none;
	top: 0px;
	right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.panel_operation_area .content_container .chat_item:hover .operator_bar {
	display: block;
}
.panel_operation_area .content_container .chat_item .operator_bar img {
	box-sizing: border-box;
	width: 23px;
	margin-left: 10px;
	padding: 5px;
	cursor: pointer;
}
.panel_operation_area .content_container .chat_item .chat_title img {
	display: inline-block;
	box-sizing: border-box;
	width: 20px;
	margin-left: 10px;
	margin-right: 0px;
	padding: 5px;
	vertical-align: middle;
}
.panel_operation_area .content_container .chat_item .chat_title img.up {
	display: none;
}
.panel_operation_area .content_container .chat_item.toggled .chat_title img.down {
	display: none;
}
.panel_operation_area .content_container .chat_item.toggled .chat_title img.up {
	display: inline-block;
}
.panel_operation_area .content_container .chat_item .chat_title .caption {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
	vertical-align: middle;
}
.panel_operation_area .content_container .chat_item .other_content {
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 27px;
	margin-right: 0px;
}
.panel_operation_area .content_container .chat_item.toggled .other_content {
	display: block;
}
.panel_operation_area .content_container strategy {
	display: none;
}
.panel_operation_area .content_container pre,
.panel_operation_area .answer_panel pre {
	margin-left: -8px;
	margin-right: -8px;
	padding: 8px;
	overflow-x: auto;
}
.panel_operation_area .answer_panel pre {
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 5px;
	background-color: black;
}
.panel_container .content_container pre,
.panel_operation_area .chat_item .chat_content pre {
	background-color: rgba(8, 8, 8, 1.0);
    box-shadow: inset 0px 1px 3px black;
	border-radius: 0px !important;
	outline: none;
}
.reference_page .content pre .code_title_bar,
.panel_container .content_container pre .code_title_bar,
.panel_operation_area .chat_item .chat_content pre .code_title_bar {
	margin: -5px -8px 5px -8px;
	padding: 0px 8px;
	background-color: rgba(125, 125, 125, 0.2);
	border-bottom: 1px solid black;
	font-size: 12px;
	color: rgb(205, 225, 225);
	cursor: pointer;
}
.reference_page .content pre .code_title_bar img,
.panel_container .content_container pre .code_title_bar img,
.panel_operation_area .chat_item .chat_content pre .code_title_bar img {
	float: right;
	height: 16px;
	margin-left: 5px;
	padding: 2px;
	filter: invert(0.6) sepia(1.0) hue-rotate(160deg) brightness(1.9);
}
.panel_container .content_container div.svg,
.panel_operation_area .chat_item .chat_content div.svg {
	position: relative;
	display: block;
	text-align: center;
}
.panel_container .content_container div.svg .svg_bar,
.panel_operation_area .chat_item .chat_content div.svg .svg_bar {
	position: absolute;
	top: 0px;
	left: -8px;
	right: -8px;
	display: none;
	margin: 0px;
	padding: 5px 8px;
	background-color: rgba(125, 125, 125, 0.2);
	border-bottom: 1px solid black;
	font-size: 12px;
	color: rgb(205, 225, 225);
	cursor: pointer;
}
.panel_container .content_container div.svg:hover .svg_bar,
.panel_operation_area .chat_item .chat_content div.svg:hover .svg_bar {
	display: block;
}
.panel_container .content_container div.svg .svg_bar img,
.panel_operation_area .chat_item .chat_content div.svg .svg_bar img {
	float: right;
	height: 16px;
	padding: 2px;
	filter: invert(0.6) sepia(1.0) hue-rotate(160deg) brightness(1.9);
}
.panel_article_list {
	display: none;
	position: absolute;
	z-index: 3;
	top: 40px;
	right: 0px;
	padding: 10px 0px;
	background-color: rgba(23, 23, 23, 0.2);
	backdrop-filter: blur(3px);
	box-shadow: 1px 1px 4px rgba(235, 235, 235, 0.6), 2px 2px 5px rgba(23, 23, 23, 0.9);
}
[showArticleList="true"] .panel_article_list {
	display: block;
}
.panel_article_list .search_bar {
	padding: 0px 10px;
	margin-bottom: 5px;
	font-weight: bolder;
}
.panel_article_list .search_bar .keywords_input {
	width: 300px;
	padding: 0px 5px;
	border-bottom: 1px solid var(--front-color);
	font-size: 12px;
	color: var(--front-color);
}
.panel_article_list .panel_article_list_container {
	min-width: 350px;
	min-height: 100px;
	max-height: 600px;
	padding: 0px 10px;
}
.panel_article_list .panel_article_list_item {
	display: list-item;
	list-style-position: inside;
	user-select: none;
	cursor: pointer;
}
.panel_article_list .panel_article_list_item span {
	color: var(--front-color) !important;
	line-height: 2em;
	pointer-events: none;
}
.panel_article_list .panel_article_list_item img {
	display: none;
	width: 10px;
	margin-right: 9px;
	pointer-events: none;
}
.panel_article_list .panel_article_list_item[selected] img {
	display: inline-block;
}
.panel_article_list .panel_article_list_item[selected] {
	display: block;
}
.panel_operation_area .search_inputter {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 5px;
	border-radius: 10px;
	border: none;
	background-image: linear-gradient(45deg, rgba(46, 49, 124, 1.0), rgba(129, 60, 133, 1.0));
}
.panel_operation_area .search_inputter div {
	margin-top: 0px;
	margin-bottom: 0px;
}
.panel_operation_area .search_inputter > div.inner {
	min-height: 150px;
	max-height: 600px;
	padding: 10px;
	border-radius: 8px 8px 0px 0px;
	background-color: var(--back-color);
	color: rgb(125, 125, 125);
	outline: none;
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.panel_operation_area .search_inputter > div.inner:focus {
	box-shadow: none;
}
.panel_operation_area .search_inputter > div.inner[contentEditable="true"] {
	color: var(--front-color);
}
.panel_operation_area .search_inputter > div.submitter {
	height: 45px;
	padding: 10px;
	border-radius: 0px 0px 8px 8px;
	background-color: var(--back-color);
	color: rgba(189, 192, 186, 1.0);
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.panel_operation_area .search_inputter > div.submitter .sender {
	float: right;
	padding-left: 10px;
	cursor: pointer;
}
.panel_operation_area .search_inputter > div.submitter .sender img {
	position: relative;
	top: 5px;
	width: 20px;
	margin-left: 10px;
	filter: invert(0.6) sepia(1.0) hue-rotate(240deg) brightness(0.7) drop-shadow(1px 1px 2px black);
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser {
	float: left;
	padding-top: 5px;
	font-size: 14px;
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li span {
	font-size: 0.8em;
	pointer-events: none;
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li img {
	position: relative;
	display: inline;
	top: 2px;
	width: 14px;
	pointer-events: none;
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li img.checked {
	display: none;
	filter: invert(0.5) sepia(1.0) hue-rotate(120deg) brightness(1.2);
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li[disabled] {
	color: rgb(from var(--front-color) calc(r * 0.4) calc(g * 0.4) calc(b * 0.4)) !important;
	pointer-events: none;
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li[checked] img.checked {
	display: inline;
}
.panel_operation_area .search_inputter > div.submitter .mode_chooser li[checked] img.notcheck {
	display: none;
}
.panel_operation_area div.search_result_title {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bolder;
}
.panel_operation_area div.search_result_title.foldhint {
	border-top: 1px solid var(--front-color);
	border-bottom:1px solid var(--front-color);
	padding:2px;
	margin-bottom: 10px;
}
.panel_container .morequestion_panel hr {
	margin-top: 30px;
	margin-bottom: 30px;
}
.panel_operation_area .search_result_list.more_question {
	margin-top: 30px;
	margin-bottom: 30px;
}
.panel_operation_area .search_result_item.more_question {
	width: fit-content;
	list-style-position: inside;
	padding: 5px 10px;
	padding-left: 35px;
	border-radius: 10px;
	background-color: black;
	text-indent: -20px;
	cursor: pointer;
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.panel_operation_area .caption {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bolder;
}
.panel_operation_area .caption .count {
	margin-left: 5px;
	margin-right: 10px;
}
.panel_operation_area .caption .small {
	font-size: 1rem;
	font-weight: normal;
}
.panel_operation_area .caption .order {
	display: inline-block;
	cursor: pointer;
}
.panel_operation_area .caption .order.selected {
	border-bottom: 1px solid var(--front-color);
}
.panel_operation_area .vice {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 16px;
}
.panel_operation_area .keywords_input {
	width: 350px;
	padding: 0px 5px;
	border-bottom: 1px solid var(--front-color);
	font-size: 14px;
}
.panel_operation_area .articleManagerFileList {
	padding-left: 10px;
}
.panel_operation_area .file_item {
	position: relative;
	list-style-position: inside;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px 5px;
	padding-right: 125px;
	border-bottom: 1px solid var(--front-color);
}
.panel_operation_area .file_item:hover {
	background-color: rgb(57, 57, 57);
}
.panel_operation_area .file_item > a {
	color: var(--front-color);
	white-space: break-spaces;
	word-break: break-all;
	outline: none;
}
.panel_operation_area .file_item > .operator_bar {
	display: none;
	position: relative;
	top: 2px;
	left: 5px;
	height: 16px;
	overflow-y: hidden;
}
.panel_operation_area .file_item:hover > .operator_bar {
	display: inline-block;
}
.panel_operation_area .file_item img {
	position: relative;
	display: inline-block;
	top: -1px;
	height: 20px;
	padding: 5px;
	margin-left: 5px;
}
.panel_operation_area .file_item > img {
	top: 5px;
}
.panel_operation_area .file_item img.button {
	cursor: pointer;
}
.panel_operation_area .file_item.editing img {
	display: none;
}
.panel_operation_area .file_item .article_ctkw {
	display: none;
	position: absolute;
	z-index: 1;
	left: 20px;
	padding: 3px 8px;
	border: 1px solid black;
	background-color: rgba(23, 23, 23, 0.9);
	box-shadow: 2px 2px 5px rgba(23, 23, 23, 0.6);
	pointer-events: none;
}
.panel_operation_area .file_item:hover .article_ctkw {
	display: block;
}
.panel_operation_area .search_records {
	position: relative;
	display: block;
}
.panel_operation_area .search_records .search_record_area {
	margin: 20px;
	margin-bottom: 35px;
}
.panel_operation_area .search_records .search_record_area_title {
	font-size: 20px;
	font-weight: bolder;
}
.panel_operation_area .search_records .search_record_panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap: 10px;
	row-gap: 10px;
}
.panel_operation_area .search_records .search_record_panel .search_record_item {
	list-style: none;
	position: relative;
	min-width: 175px;
	max-width: 250px;
	height: 50px;
	flex: 0 1 19%;
	padding: 0px;
	cursor: pointer;
}
.panel_operation_area .search_records .search_record_panel .search_record_item .item_logo {
	height: 100%;
	width: 43px;
	pointer-events: none;
}
.panel_operation_area .search_records .search_record_panel .search_record_item .item_closer {
	display: none;
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: 2;
	width: 15px;
	pointer-events: none;
	cursor: pointer;
}
.panel_operation_area .search_records .search_record_panel .search_record_item:hover .item_closer {
	display: block;
	pointer-events: all;
}
.panel_operation_area .search_records .search_record_panel .search_record_item .item_title {
	position: absolute;
	top: 5px;
	left: 50px;
	right: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	pointer-events: none;
}
.panel_operation_area .search_records .search_record_panel .search_record_item .item_date {
	position: absolute;
	bottom: 5px;
	left: 50px;
	right: 0px;
	font-size: 10px;
	color: darkgray;
	pointer-events: none;
}
.panel_operation_area .search_records .search_record_panel .search_record_item .item_desc {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	background-color: rgba(20, 20, 25, 0.8);
	backdrop-filter: blur(2px);
	box-shadow: 2px 2px 5px rgba(23, 23, 23, 0.6), inset 0px 0px 2px white;
	pointer-events: none;
}
.panel_operation_area .search_records .search_record_panel .search_record_item:hover .item_desc {
	display: block;
}
.panel_operation_area .furthure_dialog {
	display: none;
}
.manager_panel {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}
.manager_panel img {
	height: 30px;
	padding: 5px;
}
.result_panel .answer_panel_hint img[button] {
	position: relative;
	top: 1px;
	height: 20px;
	cursor: pointer;
}
.reference_panel li {
	cursor: pointer;
}
.reference_page {
	position: fixed;
	z-index: 999;
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
	display: none;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: rgba(23, 23, 23, 0.65);
	box-shadow: 3px 3px 5px black;
	backdrop-filter: blur(3px);
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.reference_page .title {
	position: absolute;
	z-index: 1;
	left: 0px;
	right: 0px;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid var(--front-color);
	box-shadow: 0px 1px 2px black;
	font-size: 20px;
	font-weight: bolder;
	color: var(--front-color);
	text-shadow: 1px 1px 2px black;
	overflow: hidden;
	text-overflow: ellipsis;
}
.reference_page .closer {
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
}
.reference_page .closer img {
	width: 30px;
	height: 30px;
}
.reference_page .content {
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 10px;
}
.foldhint {
	cursor: pointer;
}
.foldhint:after {
	content: '-';
	float: right;
	margin-right: 10px;
}
.foldhint.folded:after {
	content: '+';
}
.foldable.folded {
	display: none;
}
.foldable.folded li {
	pointer-events: none;
}
.panel_container ul.reference_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	row-gap: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
.panel_container ul.reference_area li.reference_item {
	list-style: none;
	position: relative;
	max-width: 125px;
	flex: 0 1 20%;
	padding: 0px;
	border-radius: 8px;
	background-image: linear-gradient(45deg, rgba(46, 49, 124, 1.0), rgba(129, 60, 133, 1.0));
	box-shadow: inset 1px 1px 2px rgba(234, 238, 219, 0.5), 1px 1px 3px black;
}
.panel_container ul.reference_area li.reference_item .reference_frame {
	position: relative;
	width: calc(100% - 10px);
	height: 0px;
	padding: 0px;
	padding-bottom: 66%;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: black;
	overflow: hidden;
	border-radius: 5px;
	pointer-events: none;
	transition: background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
.panel_container ul.reference_area li.reference_item .reference_frame .reference_logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
}
.panel_container ul.reference_area li.reference_item .reference_title {
	width: 100%;
	height: 24px;
	margin-top: 8px;
	margin-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	text-align: center;
	pointer-events: none;
}
.panel_container ul.reference_area li.reference_item .reference_float {
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: -50px;
	width: 350px;
	margin: 0px;
	padding: 0px 10px;
	border-radius: 10px;
	background-image: linear-gradient(45deg, rgba(46, 49, 124, 1.0), rgba(129, 60, 133, 1.0));
	box-shadow: inset 1px 1px 2px rgba(234, 238, 219, 0.5), 1px 1px 3px black;
	text-shadow: 1px 1px 1px black;
	pointer-events: none;
}
.panel_container ul.reference_area li.reference_item:hover .reference_float {
	display: block;
}
.panel_container ul.reference_area li.reference_item .reference_float .reference_float_title {
	font-weight: bolder;
}
.panel_container nav.nav_menu_panel {
	display: none;
	position: fixed;
	top: 105px;
	right: calc(50% - 750px);
	z-index: 1;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 5px 0px 0px 5px;
	background-color: rgba(20, 20, 25, 0.8);
	backdrop-filter: blur(2px);
	box-shadow: 2px 2px 5px rgba(23, 23, 23, 0.6), inset 0px 0px 2px white;
	animation: enterFromRight 350ms cubic-bezier(0.5, 0.1, 0.3, 1) 1;
}
@media (max-width: 1578px) {
	.panel_container nav.nav_menu_panel {
		right: 2.5%;
	}
}
.panel_container nav.nav_menu_panel a {
	display: block;
	margin: 5px;
}
.panel_container .panel_operation_area .writingArea,
.panel_container .panel_operation_area .requirementArea {
	position: absolute;
	top: 3px;
	border-radius: 5px;
	background-color: var(--background-color);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	transition: box-shadow cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"][theme="dark"] .panel_container .panel_operation_area .writingArea,
body[layout="column"][theme="dark"] .panel_container .panel_operation_area .requirementArea {
	background-color: var(--back-color);
}
.panel_container .panel_operation_area .writingArea {
	bottom: 0px;
	left: 0px;
	width: calc(45% - 5px);
	padding-bottom: 20px;
}
.panel_container .panel_operation_area .requirementArea {
	right: 0px;
	width: 55%;
	height: calc(30% - 10px);
}
.panel_container .panel_operation_area .conversationArea {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 55%;
	height: 70%;
}
.panel_container .panel_operation_area .infoArea {
	position: absolute;
	bottom: 2px;
	left: 5px;
	width: max-content;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: rgba(23, 23, 23, 0.5);
	font-size: 8px;
	color: rgb(250, 250, 250);
}
.panel_container .panel_operation_area .infoArea span {
	margin-right: 5px;
}
.panel_container .panel_operation_area .infoArea span:last-child {
	margin-right: 0px;
}

body > div.router {
	position: fixed;
	bottom: 18px;
	left: 0px;
	z-index: 1;
	display: block;
	border: 5px solid black;
	border-left: none;
	border-radius: 0px 10px 10px 0px;
	background-color: rgba(35, 35, 35, 0.6);
	cursor: pointer;
}
body > div.router .logo {
	display: block;
	padding: 5px;
}
body > div.router .logo img {
	width: 35px;
	height: 35px;
	filter: none;
}
body > div.router ul {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 25px;
	padding-right: 10px;
}
body > div.router ul li a {
	color: var(--front-color);
}
body > div.router:hover .logo {
	display: none;
}
body > div.router:hover ul {
	display: block;
}
@media (max-width: 1600px) {
	body > div.router .logo img {
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 1580px) {
	body > div.router .logo img {
		width: 25px;
		height: 25px;
	}
}
@media (max-width: 1550px) {
	body > div.router {
		display: none;
	}
}

img[directRewrite], img[autoRewrite] {
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: text-bottom;
}
body[directRewrite="true"] img[directRewrite="true"],
body[directRewrite="false"] img[directRewrite="false"],
body[autoRewrite="true"] img[autoRewrite="true"],
body[autoRewrite="false"] img[autoRewrite="false"] {
	display: inline-block;
}

span.MathJax {
	margin-left: 0.3em;
	margin-right: 0.3em;
}
div.MathJax_Display span.MathJax {
	margin-left: 0em;
	margin-right: 0em;
}
.MathJax > nobr > span.math > span:empty {
	visibility: hidden !important;
	border-left: none !important;
}
img.fontawesome {
	height: 1em;
	margin-left: 2px;
	margin-right: 2px;
}

body[layout="column"] [layout="row"] {
	display: none !important;
}
body[layout="row"] [layout="column"] {
	display: none !important;
}

body[layout="column"][shrinked="yes"] [shrinked="no"],
body[layout="column"][shrinked="no"] [shrinked="yes"] {
	display: none !important;
}

body[layout="row"] .panel_tab > img {
	margin-top: 3px;
	margin-bottom: 3px;
}

body[layout="column"] .panel_frame {
	width: 100%;
	max-width: 100%;
}
body[layout="column"] .panel_frame .panel_container {
	top: 0px;
	bottom: 0px;
	left: 200px;
	right: 0px;
	width: auto;
	background-color: transparent;
	border-radius: 0px;
	box-shadow: none;
	transition: left cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_container .panel_logo .thinking_hint.show {
	display: block;
	top: -20px;
	left: 90px;
}
body[layout="column"] .panel_frame .panel_tabs_area {
	top: 0px;
	bottom: 0px;
	left: -200px;
	width: 200px;
	height: auto;
	padding: 0px;
	border-bottom: none;
	background-color: var(--back-color);
	box-shadow: 1px 1px 5px rgb(from var(--front-color) r g b / 60%);
	transition: left cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, width cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab {
	float: none;
	display: block;
	width: max-content;
	height: 46px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 8px;
	border-radius: 0px;
	border: none;
	background-color: transparent;
	font-size: 16px;
	transition: margin-left cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, border-radius cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab.active {
	height: 46px;
	margin-left: 10px;
	border-radius: 20px 0px 0px 20px;
	background-color: rgba(47, 47, 53, 1.0);
	font-weight: bolder;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab .border {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 191px;
	height: 100%;
	opacity: 0;
	border-radius: 20px 0px 0px 20px;
	border: 1px solid rgb(from var(--front-color) r g b / 40%);
	border-right: none;
	box-shadow: inset 3px 3px 3px -3px rgb(from var(--front-color) r g b / 20%);
	transition: opacity cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, width cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab.active .border {
	opacity: 1;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab img.btn_cover {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	vertical-align: top;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab img.btn_cover.avatar {
	border-radius: 50%;
	overflow: hidden;
	filter: none;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_tab span {
	display: inline-block;
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 1;
	transition: opacity cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_logo {
	top: 40px;
	left: -150px;
	width: 100px;
	height: 100px;
	transition: top cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, left cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, width cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, height cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, background-color cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, box-shadow cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_logo img {
	opacity: 1;
	transition: opacity cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_logo .panel_model_chooser {
	top: 0px;
	left: 100px;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_placeholder {
	height: 220px;
	margin-bottom: 0px;
	border-bottom: 1px solid rgba(23, 23, 23, 0);
	transition: height cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, margin-bottom cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, border-bottom cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_placeholder.logo {
	position: relative;
}
body[layout="column"] .panel_frame .panel_tabs_area .panel_placeholder.logo img {
	position: absolute;
	top: 150px;
	left: 60px;
	width: 80px;
	height: 33px;
	object-position: left;
	object-fit: cover;
	transition: top cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, left cubic-bezier(0.5, 0.1, 0.3, 1) 250ms, width cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .panel_operation_area {
	top: 35px;
	bottom: 10px;
}
body[layout="column"] .panel_frame .panel_inner_mask {
	top: 0px;
	left: -250px;
}
body[layout="column"] .panel_frame .sep_line {
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(from var(--front-color) r g b / 60%);
	transition: margin cubic-bezier(0.5, 0.1, 0.3, 1) 250ms;
}
body[layout="column"] .panel_frame .operator_panel {
	position: absolute;
	bottom: 40px;
	left: 0px;
	width: 100%;
}
body[layout="column"] .panel_frame .button_panel {
	position: absolute;
	top: 5px;
	left: 100%;
	width: max-content;
}
body[layout="column"] .panel_frame .contract_column {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	text-align: right;
	cursor: pointer;
}
body[layout="column"] .panel_frame .contract_column img {
	width: 20px;
	height: 20px;
}
body[layout="column"] .panel_container nav.nav_menu_panel {
	top: 35px;
	right: 20px;
}
body[layout="column"] .panel_article_list {
	top: 35px;
	left: 10px;
	right: auto;
}
body[layout="column"] .router {
	display: none !important;
}

body[layout="column"][shrinked="yes"] .panel_container .panel_logo .thinking_hint.show {
	top: -5px;
	left: 35px;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_container {
	left: 40px;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area {
	left: -40px;
	width: 40px;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area .panel_tab.active {
	margin-left: 0px;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area .panel_tab span {
	opacity: 0;
	pointer-events: none;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area .panel_tab .border {
	width: 41px;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_logo {
	top: 5px;
	left: -40px;
	width: 40px;
	height: 80px;
	background-color: rgba(240, 241, 235, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_logo img {
	opacity: 0;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_logo .panel_model_chooser {
	left: 40px;
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area .panel_placeholder {
	height: 93px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
body[layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area .panel_placeholder.logo img {
	top: 30px;
	left: 4px;
	width: 28px;
}
body[layout="column"][shrinked="yes"] .panel_frame .sep_line {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
}

body[theme="light"] [theme="dark"] {
	display: none !important;
}
body[theme="dark"] [theme="light"] {
	display: none !important;
}

body[theme="dark"] img[src*="svg"] {
	filter: invert(0.6) sepia(1.0) hue-rotate(60deg) brightness(1.5);
}

:root [theme="light"] {
	--front-color: rgba(29, 30, 27, 1.0);
	--back-color: rgba(234, 238, 219, 1.0);
	--emphasize-color: rgba(36, 134, 185, 1.0);
	--background-color: rgba(241, 240, 237, 1.0);
}
body[theme="light"] {
	background-color: rgba(234, 238, 219, 1.0);
}
body[theme="light"] .panel_operation_area .search_inputter {
	background-image: linear-gradient(45deg, rgba(52, 108, 156, 1.0), rgba(27, 167, 132, 1.0));
}
body[theme="light"] .panel_operation_area .input_container {
	background-color: var(--background-color);
	color: var(--front-color);
	border-color: white;
	box-shadow: inset 2px 2px 5px rgb(from var(--front-color) r g b / 80%);
}
body[theme="light"] .panel_operation_area .input_sender {
    box-shadow: inset -2px -2px 5px rgb(from var(--back-color) r g b / 50%);
	color: var(--back-color) !important;
}
body[theme="light"] .panel_operation_area .search_inputter > div.submitter .sender img {
	filter: invert(0.6) sepia(1.0) hue-rotate(120deg) brightness(0.7) drop-shadow(1px 1px 2px black);
}
body[theme="light"] .panel_operation_area .content_container .chat_item {
	border-color: rgba(23, 23, 23, 0.3);
}
body[theme="light"] .panel_operation_area .content_container .chat_item.human {
	background-color: rgba(173, 213, 162, 1.0);
}
body[theme="light"] .panel_container .panel_logo .panel_model_chooser .panel_model_item.current {
	border-color: black;
}
body[theme="light"] .panel_container code {
	background-color: rgb(35, 35, 35);
}
body[theme="light"] .panel_frame .panel_tabs_area .panel_tab {
	color: rgb(from var(--front-color) r g b / 80%) !important;
}
body[theme="light"] .panel_container .panel_button {
	background-color: var(--background-color);
}
body[theme="light"] .panel_container .content_container pre,
body[theme="light"] .panel_operation_area .chat_item .chat_content pre {
	background-color: rgb(35, 35, 35);
}
body[theme="light"] .reference_page .content pre .code_title_bar,
body[theme="light"] .panel_container .content_container pre .code_title_bar,
body[theme="light"] .panel_operation_area .chat_item .chat_content pre .code_title_bar {
	background-color: rgba(125, 125, 125, 0.5);
}
body[theme="light"] .panel_container .content_container div.svg .svg_bar,
body[theme="light"] .panel_operation_area .chat_item .chat_content div.svg .svg_bar {
	background-color: rgba(125, 125, 125, 0.5);
}
body[theme="light"] .panel_container table tr:nth-child(2n) {
	background-color: rgba(23, 23, 23, 0.1);
}
body[theme="light"] .panel_article_list {
	background-color: rgb(from var(--front-color) r g b / 80%);
}
body[theme="light"] .panel_operation_area .search_result_item.more_question {
	background-color: var(--background-color);
	box-shadow: 1px 1px 2px rgba(23, 23, 23, 0.05), -1px -1px 2px rgba(23, 23, 23, 0.05);
}
body[theme="light"] .panel_operation_area .file_item:hover {
	background-color: var(--background-color);
}
body[theme="light"] .panel_operation_area .file_item .article_ctkw {
	border-color: white;
	background-color: rgba(240, 241, 235, 0.9);
}
body[theme="light"] .panel_operation_area .search_records .search_record_panel .search_record_item .item_desc {
	background-color: rgb(from var(--front-color) r g b / 80%);
	box-shadow: 2px 2px 5px rgba(23, 23, 23, 0.6), inset 0px 0px 2px black;
}
body[theme="light"] .panel_container ul.reference_area li.reference_item {
	color: var(--back-color);
	background-image: linear-gradient(45deg, rgba(52, 108, 156, 1.0), rgba(27, 167, 132, 1.0));
}
body[theme="light"] .panel_container ul.reference_area li.reference_item .reference_float {
	background-image: linear-gradient(45deg, rgba(52, 108, 156, 1.0), rgba(27, 167, 132, 1.0));
}
body[theme="light"] .panel_container nav.nav_menu_panel {
	background-color: rgb(from var(--front-color) r g b / 80%);
}
body[theme="light"] > div.router {
	border: 5px solid white;
	background-color: rgb(from var(--front-color) r g b / 60%);
}
body[theme="light"] > div.router .logo img {
	filter: invert(0.6) sepia(1.0) hue-rotate(60deg) brightness(1.5);
}
body[theme="light"][layout="column"] .panel_frame .panel_tabs_area .panel_tab.active {
	background-color: rgba(234, 238, 219, 1.0);
}
body[theme="light"][layout="column"] .panel_frame .panel_tabs_area {
	background-color: var(--background-color);
}
body[theme="light"][layout="column"] .panel_frame .panel_logo {
	background-color: var(--background-color);
}
body[theme="light"][layout="column"][shrinked="yes"] .panel_frame .panel_logo {
	background-color: rgba(240, 241, 235, 0);
}
body[theme="light"][layout="column"] .panel_frame .panel_logo .panel_model_chooser {
	background-color: rgb(from var(--front-color) r g b / 80%);
}
body[theme="light"][layout="column"][shrinked="yes"] .panel_frame .panel_tabs_area .panel_placeholder {
	border-bottom: 1px solid rgba(23, 23, 23, 0.5);
}
body[theme="light"] .panel_operation_area .search_inputter > div.submitter .mode_chooser li img.checked {
	filter: invert(0.5) sepia(1.0) hue-rotate(120deg) brightness(1.2);
}