<meta name="description" content="{{site.description}}">
<link rel="stylesheet" href="./assets/main.css">
<!-- <script src="./assets/main.js"></script> -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	tex2jax: {
		displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		skipTags: ["script","noscript","style","textarea","pre","code"],
		processEscapes: true
	}
});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>